img{
  max-width:300px;
  border-radius:50%
}

body{
  text-align:center;
 font-family: 'Poppins', sans-serif;
margin:0;
}
.cover{
 
 color:white;
  background: url("https://cdn.kiwicollection.com/media/property/PR007534/xl/007534-07-winter_lodge___mtn.jpg?cb=1386183845");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16px;
  text-shadow: 0 2px 3px rgba(0,0,0,0.75);
}

.container{
max-width:700px;
margin:0 auto;
}


.hah{
   display: flex;
}
.hah img{
   border: 1px solid blue;
    width: 350px;
}
.container two{
width:700px;
margin:0 auto;
}

  
 